
<label for="bezeichnung">
	<f:translate key="tx_lvcontentslider_domain_model_slider.bezeichnung" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="bezeichnung" /><br />
<label for="titel">
	<f:translate key="tx_lvcontentslider_domain_model_slider.titel" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="titel" /><br />
<label for="text">
	<f:translate key="tx_lvcontentslider_domain_model_slider.text" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="text" cols="40" rows="15" /><br />
<label for="buttontext">
	<f:translate key="tx_lvcontentslider_domain_model_slider.buttontext" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="buttontext" /><br />
<label for="link">
	<f:translate key="tx_lvcontentslider_domain_model_slider.link" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="link" /><br />
<label for="bild">
	<f:translate key="tx_lvcontentslider_domain_model_slider.bild" /> <span class="required">(required)</span>
</label><br />
	<span>File upload is not implemented!</span><br  /><br />