
<table class="tx-lv-slider" >
	<tr>
		<td>
			<f:translate key="tx_lvslider_domain_model_slider.bezeichnung" />
		</td>
		<td>
		{slider.bezeichnung}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvslider_domain_model_slider.titel" />
		</td>
		<td>
		{slider.titel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvslider_domain_model_slider.text" />
		</td>
		<td>
		{slider.text}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvslider_domain_model_slider.bild" />
		</td>
		<td>
				<f:image src="{slider.bild.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>